<!doctype html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="description" content="Southern Utah's only technology conference focusing on developers and designers - St George, Utah">

  <base href="/">
  <!--<script src="vendor/socket.io-client/socket.io.js"></script>-->
  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}

  <title>SG-CONF | St George, Utah Technology Conference and Hack-a-thon</title>

  <script src="node_modules/ng2-bootstrap/bundles/ng2-bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/loader.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="assets/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
  <link rel="manifest" href="assets/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#008080">
  <meta name="msapplication-TileImage" content="assets/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#008080">
  <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" scroll-position="scroll">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="{{ Root }}">brand</a>
      </div>
      <div class="collapse navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="item in menu.items" class="dropdown" dropdown on-toggle="toggled(open)">
            <a ng-hide="item.dropdown" ng-href="{{ item.link }}">item</a>
            <a ng-show="item.dropdown" href class="dropdown-toggle" dropdown-toggle>
						item2<b class="caret"></b>
					</a>
            <ul class="dropdown-menu">
              <li ng-repeat="item in item.items">
                <a href="{{ item.link }}">{{ item.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>



  <p>
    page-header works!
  </p>

  <p>
    did i get here
  </p>
